<div class="container" *ngIf="!logged">
  <form class="form-signin">
	<h2 class="form-signin-heading">Please sign in</h2>
	<div *ngIf="error" class="alert alert-warning">
	  <strong>Fehler!</strong> Login nicht erfolgreich.
	</div>
	<label for="inputEmail" class="sr-only">Email address</label>
	<input (input)="username=$event.target.value" type="text" class="form-control" placeholder="Username" required="" autofocus="">
	<label for="inputPassword" class="sr-only">Password</label>
	<input (input)="passwort=$event.target.value" type="password" class="form-control" placeholder="Password" required="">
	<button (click)="login()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>