.image{
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	.inventarpoint {
		position: absolute;
		border: 1px dotted grey;
		&:hover {
			background-color: rgba(0,0,0,0.5);
		}
	}
	&.dragged {
		opacity: 0.5;
	}
	&.inventar {
		transition: all 100ms ease-in-out;
	}
}